#setup {
  display: none;
}

#gameplay {
  /* display: none; */
}

#anteContainer {
  display: none;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fffdd0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 40%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 0.8rem;
  max-height: 80vh;
  overflow-y: auto;
  transition: visibility 2s, opacity 0.5s linear;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
  font-family: Georgia;
  color: darkgreen;
}

h2 {
  text-align: center;
  font-family: Georgia;
}

h3 {
  text-align: center;
  background-color: #fffdd0;
  padding: 0.2rem 0.8rem;
  font-weight: normal;
  border: 1px solid black;
}

ul {
  margin-top: 0;
}

p {
  text-align: justify;
}

.caveat {
  font-size: 0.8rem;
  margin: 0;
}

.btn {
  display: block;
  margin: 1rem auto 0 auto;
  width: 150px;
  padding: 0.5rem;
  border: none;
  color: white;
}

.btn:hover {
  cursor: pointer;
}

.start {
  background-color: green;
}

.start:hover {
  background-color: darkgreen;
}

#end {
  background-color: red;
  display: none;
}

#end:hover {
  background-color: darkred;
}


/* --------- Game Setup --------- */

.input {
  display: flex;
  justify-content: center;
}

span {
  padding: 0.5rem;
}

input {
  text-align: center;
  border: 1px solid black;
  width: 100%;
  padding: 0.5rem;
}

.number {
  width: 10%;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.controls * {
  width: 10%;
  margin: 0.5rem;
  background-color: #d3d3d3;
}

.control {
  border: none;
}

.control:hover {
  cursor: pointer;
  background-color: darkgrey;
}

/* ====== Players Table ====== */
.players {
  display: flex;
  justify-content: space-between;
}

.players input {
  width: 20%;
  border-bottom: none;
  background-color: #f3f3f3
}

.players input:hover {
  /* background-color: #3f3f3f; */
  cursor: pointer;
}

.players input:nth-child(1):hover {
  background-color: darkred;
  color: white;
}

.players input:nth-child(2):hover {
  background-color: darkgreen;
  color: white;
}

#tablePlayers {
  margin: 0 auto;
  width: 100%;
  border-spacing: 2rem 0.5rem;
  border: 1px solid black;
  background-color: #f3f3f3;
  padding: 1rem 0;
}

th:first-child {
  width: 20%;
}

th:nth-child(2) {
  width: 60%;
}

th:nth-child(3) {
  width: 20%;
}

#begin {
  display: none;
}


/* ===================== GAMEPLAY ===================== */
.display {
  background-color: green;
  color: white;
  padding: 0.5rem 1rem;
  border: 1px solid black;
}

#displaytable {
  width: 100%;
  border-spacing: 2rem 0.5rem;
}

#displaytable .category {
  text-align: right;
  width: 10%;
}

.atbatinfo {
  background-color: #fffdd0;
  width: 25%;
}

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.result {
  width: 45%;
}

.result:nth-child(n-2) {
  margin-top: 0.3rem;
}

#rbi {
  display: none;
}
