/* ======= Font Import ====== */
@font-face {
  font-family: "Rampart";
  src: url("./../fonts/Rampart_One/RampartOne-Regular.ttf") format("truetype")
}

/* ============= Defaults ============= */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fffdd0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 40%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 1rem 2rem;
  background-color: white;
  max-height: 70vh;
  overflow-y: auto;
  transition: visibility 2s, opacity 0.5s linear;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
  font-family: Rampart;
  color: #fffdd0;
  background-color: darkgreen;
  font-size: 3rem;
  margin-top: 0;
  padding: 1rem 0;
}

h1:hover {
  background-color: green;
}

h2 {
  text-align: center;
  font-family: Georgia;
}

h3 {
  text-align: center;
  /* color: #fffdd0; */
  color: white;
  background-color: green;
  padding: 0.5rem 0;
  font-weight: normal;
  font-family: Georgia;
}

h4 {
  text-align: center;
}

ul {
  margin-top: 0;
}

p {
  text-align: justify;
}


/* =========== [1] HOW TO PLAY =========== */
.caveat {
  font-size: 0.8rem;
  margin: 0;
}

.btn {
  display: block;
  margin: 1rem auto 0 auto;
  width: 150px;
  padding: 0.5rem;
  border: none;
  color: white;
}

.btn:hover {
  cursor: pointer;
}

.start {
  background-color: green;
}

.start:hover {
  background-color: darkgreen;
}

#end {
  background-color: gray;
}

#end:hover {
  background-color: red;
}


/* =========== [2] SCOREBOARD =========== */
/* Initial display is nothing */
#scoreboard {
  display: none;
}

#scoreboard table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 1.2rem;
}

#scoreboard th {
  width: 25%;
  padding: 1rem 0;
  background-color: darkgreen;
  color: white;
}

#scoreboard td {
  padding: 0.5rem 0;
}

/* Highlight the row that has the cup */
#hascup {
  background-color: #fffdd0;
}

/* =========== [3] GAME SETUP =========== */

/* Initial Display turned is hidden */
#setup {
  display: none;
}

.input {
  display: flex;
  justify-content: center;
}

span {
  padding: 0.5rem;
}

input {
  text-align: center;
  border: 1px solid black;
  width: 100%;
  padding: 0.5rem;
}

.number {
  width: 10%;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.controls * {
  width: 10%;
  margin: 0.5rem;
  background-color: #d3d3d3;
}

.control {
  border: none;
}

.control:hover {
  cursor: pointer;
  background-color: darkgrey;
}

/* ====== [3] Players Table ====== */
/* Add/Subtract Controls */
.players {
  display: flex;
  justify-content: space-between;
}

.players input {
  width: 20%;
  border-bottom: none;
  background-color: #f3f3f3
}

.players input:hover {
  /* background-color: #3f3f3f; */
  cursor: pointer;
}

/* Change color to red hovering over subtract button */
.players input:nth-child(1):hover {
  background-color: darkred;
  color: white;
}

/* Change color to green hovering over add button */
.players input:nth-child(2):hover {
  background-color: darkgreen;
  color: white;
}


#tablePlayers {
  margin: 0 auto;
  width: 100%;
  border-spacing: 2rem 0.5rem;
  border: 1px solid black;
  background-color: #f3f3f3;
  padding: 1rem 0;
}

/* Going to set the widths of the 3 columns in the player adding flow */
#tablePlayers th:first-child {
  width: 20%;
}

#tablePlayers th:nth-child(2) {
  width: 60%;
}

#tablePlayers th:nth-child(3) {
  width: 20%;
}

/* Ante is hidden initially, and selected after players are entered */
#anteContainer {
  display: none;
}

#begin {
  display: none;
}


/* ===================== [4] GAMEPLAY ===================== */

/* Initial display is hidden */
#gameplay {
  display: none;
}


.display {
  background-color: darkgreen;
  padding: 0.5rem 1rem;
  color: white;
}

#cupheader {
  background-color: transparent;
  font-family: Georgia;
  border: none;
  margin: 0;
}

#dollars {
  font-size: 5rem;
  text-align: center;
  margin: 0.2rem auto;
}

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.result {
  width: 45%;
  border: none;
  background-color: #d3d3d3;
}

.result:hover {
  cursor: pointer;
  background-color: darkgrey;
}

.result:nth-child(n-2) {
  margin-top: 0.3rem;
}

/* [4] RBI Window; initially hidden until triggered by an at-bat result */
#rbi {
  display: none;
}

/* RBI input box */
#rbis {
  width: 10%;
  /* padding: 1rem; */
  margin: 0 auto;
  display: block;
}
